{% extends 'base.html.twig' %}

{% block title %}Hello EventsController!{% endblock %}

{% block body %}
{{include('components/navbar.html.twig')}}

<div class="container mt-3 mb-3">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{events.eventImg}}" class="detImg" alt="{{events.eventName}}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{events.eventName}}</h5>
                    <p class="card-text">{{events.eventDescr}}</p>
                    <p class="card-text"><small class="text-muted">Date: {{events.dateTime | date('d/m/Y')}}</small></p>
                    <p class="card-text"><small class="text-muted">Time: {{events.dateTime | date('H:i')}}</small></p>
                    <p class="card-text"><small class="text-muted">Address: {{events.eventAddress}}</small></p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
