{% extends 'base.html.twig' %}

{% block title %}Edit Event {{events.eventName}}{% endblock %}

{% block body %}
{{include('components/navbar.html.twig')}}
<div class="container mt-3 mb-3">
    <h2 class="page-header">Edit Event: {{events.eventName}}</h2>
    <img src="{{events.eventImg}}" class="img-thumbnail" alt="{{events.eventName}}">
    {{form_start(form)}}

    {{form_widget(form)}}

    {{form_end(form)}}
</div>
{% endblock %}
