{% extends 'base.html.twig' %}

{% block title %}Hello EventsController!{% endblock %}

{% block body %}
{{include('components/navbar.html.twig')}}
<div class="container">
    if you see this, edit works
    <h2 class="page-header">Edit Event {{events.eventName}}</h2>
    <img src="{{events.eventImg}}" class="img-thumbnail" alt="{{events.eventName}}">
    {{form_start(form)}}

    {{form_widget(form)}}

    {{form_end(form)}}
</div>
{% endblock %}
