{% extends 'base.html.twig' %}

{% block title %}Hello EventsController!{% endblock %}

{% block body %}
<div class="container">
    if you see this, index works
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for event in eventsAll %}
        <div class="col">
            <div class="card">
            <img src="{{event.eventImg}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ event.eventName }}</h5>
                    <p class="card-text">{{event.eventDescr}} </p>
                    <p class="card-text">Date: {{event.dateTime | date('d/m/Y ')}} </p>
                    <p class="card-text">Time: {{event.dateTime | date('H:i')}} </p>
                    <a href="/details/{{event.id}}" class="btn btn-primary">Details</a>
                    <a href="/edit/{{event.id}}" class="btn btn-warning">Edit</a>
                    <a href="/delete/{{event.id}}" class="btn btn-danger">Delete</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
