{% extends 'base.html.twig' %}

{% block title %}Welcome to Eventima{% endblock %}

{% block body %}

{{include('components/hero.html.twig')}}
<section id="events">
    <div class="container mt-3 mb-3">
        <h2 id="#events" class="text-center">Our Events</h2>
        <div class="btn-group mt-2 mb-2" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Choose Event Type
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li><a class="dropdown-item" href="/">All</a></li>
                <li><a class="dropdown-item" href="/exhibition">Exhibition</a></li>
                <li><a class="dropdown-item" href="/concert">Concert</a></li>
                <li><a class="dropdown-item" href="/open-air">Open Air Movies</a></li>
                <li><a class="dropdown-item" href="/festival">Festival</a></li>
            </ul>
        </div>
        
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="#events">
            {% for event in eventsAll %}
            <div class="col">
                <div class="card cardZoom">
                <img src="{{event.eventImg}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.eventName }}</h5>
                        <p class="card-text border-bottom">{{event.eventDescr}}</p>
                        <div class="mt-2 mb-2">
                            <p class="card-text m-0"><small class="text-muted">Date: {{event.dateTime | date('d/m/Y ')}}</small></p>
                            <p class="card-text m-0"> <small class="text-muted">Time: {{event.dateTime | date('H:i')}} </small></p>
                        </div>
                        
                        <div class="btn-group btn-group-sm">
                            <a href="/details/{{event.id}}" class="btn btn-outline-light">Details</a>
                            <a href="/edit/{{event.id}}" class="btn btn-outline-light">Edit</a>
                            <a href="/delete/{{event.id}}" class="btn btn-outline-light">Delete</a>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
